[submodule "Cuttlefish"]
	path = deps/Cuttlefish
	url = https://github.com/akb825/Cuttlefish.git
[submodule "deps/tinygltf"]
	path = deps/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "deps/meshoptimizer"]
	path = deps/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "deps/Remotery"]
	path = deps/Remotery
	url = https://github.com/Celtoys/Remotery.git
